html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}




body {
    background-color: rgb(135, 196, 145);
    font-family: 'Oregano', cursive;
}

.container {
    max-width: 70vw;
    background-color: rgb(67, 150, 81);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    height: 100vh;
}

header {
    text-align: center;
    border-bottom: 8px solid rgb(4, 87, 4);
    font-size: 3vw;
    color: white;
    height: 10vh;
    display: grid;
    place-content: center;
}

.game {
    height: 60vh;
    display: grid;

}

.game .board {
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-bottom: 8px solid rgb(4, 87, 4);
    align-items: stretch;
}

.game .board .area1,
.game .board .area2,
.game .board .area3 {
    display: grid;

}

.game .board .player-title,
.game .board .area2 .partida-info {
    display: grid;
    justify-items: center;
    height: 10vh;
    
    /* border: 8px solid rgb(214, 12, 126); */
}

.game .board .area2 .partida-info span {
    background-color:  rgb(168, 206, 181); 
    padding: 10px;
    border-radius: 15px;
    font-size: 2vh;
}


.game .board span {
    margin: auto;
    font-size: 3vh;
}


.game .board .player-info,
.game .board .area2 .partida-cards {

    height: 40vh;
    /* border: 8px solid rgb(18, 28, 92); */
}

.game .board .area2 .partida-cards {
    grid-template-columns: 1fr 1fr;
    display: grid;
    align-items: start;
}

.game .board .area2 .partida-cards .card-user,
.game .board .area2 .partida-cards .card-adversario,
.game .board .area1 .player-info {
    /* border: 4px solid rgb(0, 255, 47); */
    display: grid;
    gap: 20px;
    align-content: start;
    padding: 20px;
}

.game .board .area2 .partida-cards .card-user {
    border-left: 8px solid rgb(4, 87, 4);
}
.game .board .area2 .partida-cards .card-adversario{
    border-right: 8px solid rgb(4, 87, 4);
}

.game .board .area3 .player-info {
    /* border: 4px solid rgb(0, 255, 47); */
    display: grid;
    gap: 5px;
    align-content: start;
    padding: 20px;
}

.game .board .area2 .partida-cards .card-user .placar, 
.game .board .area2 .partida-cards .card-adversario .placar {
    display: grid;
    align-content: center;
    justify-self: center;
}

.game .board .area2 .partida-cards .card-user .placar  h3,
.game .board .area2 .partida-cards .card-adversario .placar  h3{
    text-align: center;
    background-color: rgb(99, 222, 140);
    border: 4px solid rgb(4, 87, 4);
    padding: 20px;
    border-radius: 20%;
    font-size: 3vh;
    width: 3vh;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.game .board .area2 .partida-cards  .carta-selecionada {
    background-color: rgb(150, 221, 137);
    border-radius: 20%;
    height:25vh;
    padding: 20px;
    width: 90%;
    display: grid;
    align-content: center;
    justify-self: center;
    gap: 10px;
}

.game .board .area2 .partida-cards  .carta-selecionada span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game .board .area2 .partida-cards  .carta-selecionada .imagem-selecionada {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min(10vh, 10vw);
}

.game .board .area2 .partida-cards  .carta-selecionada .imagem-selecionada img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.game .board .player-info div {
    display: grid;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

.game .board .player-info span {
    font-size: 2vh;
}

.game .board .player-info #imagem-adversario img {
    object-fit: scale-down;
    align-content: center;
    border-radius: 50%;
}

.game .board .player-info #animal-imagem {
    height: 8vh;
    display: inline-block;
}

.game .board .player-info #animal-imagem img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.game .board .area1 .player-info {
    padding: 10px;
}

.game .board .player-info .animal-deck {
    background-color: rgb(150, 221, 137);
    border-radius: 30px;
    height: 35vh;
}


.game .board .player-info .animal-deck .animal-info .mais span,
.game .board .player-info .animal-deck .animal-info .menos span {
    height: 3vh;
    width: 3vh;
    background-color: #12c840;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}


.game .board .player-info .animal-deck .animal-info .mais span:hover,
.game .board .player-info .animal-deck .animal-info .menos span:hover {
    background-color: #098528;
}

.game .board .player-info .animal-deck .animal-info {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: stretch;
}

.game .board .player-info .animal-deck .animal-info span {
    font-size: 1.8vh;
}

.game .board .player-info .animal-deck #animal-nome span {
    font-size: 3vh;
}

.button span {
    margin: auto;
    font-size: 2.5vh;
}

.game .buttons {
    padding: 1vh;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 8px solid rgb(4, 87, 4);
}

.game .buttons .button {
    border: 3px solid rgb(7, 74, 4);
    
    border-radius: 30px;
    height: 6vh;
    width: 10vw;
    transition: 0.3s;
    display: grid;
    justify-content: center;
}

.game .buttons .button.on {
    background-color: rgb(140, 229, 124);
    cursor: pointer;
}

.game .buttons .button.off {
    background-color: rgb(59, 107, 52);
    opacity: 0.6;
}

.game .buttons .button.on:hover {
    background-color: rgb(55, 181, 29);
}

.cards {
    border-bottom: 8px solid rgb(4, 87, 4);
    height: 15vh;
    text-align: center;
}

.cards .card-title {
    height: 5vh;
    display: grid;
    justify-content: center;
    align-content: end;
    font-size: 2vw;
}

.cards .deck-animais {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    height: calc(10vh - 16px);
}

.cards .deck-animal,
.cards .deck-animal-desconhecido {
    height: min(8vh, 3vw);
    width: min(8vh, 3vw);
    border-radius: 100px;
    display: grid;
    place-content: stretch;
    font-size: 1.5vw;
    display: grid;
    align-content: center;
    color: white;
}

.cards .deck-animal {
    background-color: rgb(160, 225, 172);
    display: grid;
    place-items: center;
}

.cards .deck-animal-desconhecido {
    background-color: rgb(4, 87, 4);
}

.cards img {
    height: 85%;
    width: 85%;
    object-fit: scale-down;
    align-content: center;
}

.instrucoes {
    height: 15vh;
    text-align: center;
    font-size: 1vw;
}

.instrucoes h2 {
    font-size: 2vw;
    padding: 0.5vw;
}